<h1 class="mt-3">Selectores anidados</h1>
<hr />

<form [formGroup]="myForm" class="container mt-3">
  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select formControlName="region" class="form-control">
        <option value="">-- Seleccione Continente --</option>
        @for (region of regions(); track region) {
          <option [value]="region">
            {{ region }}
          </option>
        }

      </select>
    </div>
  </div>

  <!-- Countries -->

  <div class="row mb-3">
    <div class="col">
      <label class="form-label">País:</label>
      <select formControlName="country" class="form-control">
        <option value="">-- Seleccione País --</option>
        @for (country of countriesByRegion(); track country.cca3) {
          <option [value]="country.cca3">
            {{ country.name.common }}
          </option>
        }
      </select>
    </div>
  </div>


  <!-- Countries -->

  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Fronteras:</label>
      <select formControlName="border" class="form-control">
        <option value="">-- Seleccione la frontera --</option>
        @for (country of countriesBorders(); track country.cca3) {
          <option [value]="country.cca3">
            {{ country.name.common }}
          </option>
        }
      </select>
    </div>
  </div>

</form>

<h3>Formulario</h3>
<code>
  <!-- {{ 'myForm.value' | json }} -->
</code>
<p>is form valid: {{ myForm.valid }}</p>
<p>Form value:: {{ myForm.value | json }}</p>
