<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre y apellido</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre y apellido"
                           formControlName="name" />

                           @if (formUtils.isValidField(myForm,'name')) {
                            <span class="form-text text-danger">
                                El campo debe tener nombre y apellido
                            </span>
                          }
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           placeholder="Email del usuario"
                           formControlName="email" />
                           @if (formUtils.isValidField(myForm,'email')) {
                            <span class="form-text text-danger">
                                El valor ingresado no parece un correo electrónico
                            </span>
                          }
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre código del usuario"
                           formControlName="userName" />
                           @if (formUtils.isValidField(myForm,'userName')) {
                            <span class="form-text text-danger">
                                <!-- Debe de ser de 3 letras -->
                                {{formUtils.getFieldError(myForm,'userName')}}
                            </span>
                          }
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Password de su cuenta"
                           formControlName="password" />

                           @if (formUtils.isValidField(myForm,'password')) {
                            <span class="form-text text-danger">
                                <!-- Debe de ser de 3 letras -->
                                {{formUtils.getFieldError(myForm,'password')}}
                            </span>
                          }
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Confirmar la contraseña"
                           formControlName="password2" />

                           @if (formUtils.isValidField(myForm,'password2')) {
                            <span class="form-text text-danger">
                                <!-- Debe de ser de 3 letras -->
                                {{formUtils.getFieldError(myForm,'password2')}}
                            </span>
                          }
                </div>
            </div>


            <div class="row">
                <div class="col">
                  @if(myForm.errors && myForm.touched) {
                    <span class="form-text text-danger">
                        Las contraseñas no coinciden
                    </span>
                  }
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


<h2>Form Valid: {{ myForm.valid | json }} </h2>
<h2>Form Status:  {{ myForm.status| json }}</h2>

<h2>Form Pending:{{ myForm.pending | json }} </h2>

<h2>Form errors: {{ myForm.errors| json }}</h2>

<h2>Value: {{ myForm.value| json }}</h2>


<h5>Nombre</h5>
<pre>{{ myForm.controls['name'].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls['email'].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.controls['userName'].errors | json }}</pre>


<h5>Password</h5>
<pre>{{ myForm.controls['password'].errors | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls['password2'].errors | json }}</pre>
